body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: grey;
    height:100%;
}

a {
	font-size: 12px;
	font-weight: bold;
    text-decoration: none;
}

input {
    width: 280px;
    height:40px;
    border-radius:10px;
    border:0px none;
    background:whitesmoke;
    padding:0px 10px;
    font-size: small;
    margin: 20px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    outline: none;
}

*:focus {

    outline: none;
}

.header {
    background-color: whitesmoke;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: black;
    padding: 5px;
    text-align:center;
}

.footer {
    background-color: whitesmoke;
    padding: 5px;
    text-align:center;
    font-size: 12px;
}

.outputbox {
    text-align: center;
}

.address {
    background-color: white;
    padding: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: smaller;
}

.qrcode {
    display: inline-block;
    margin-bottom: 20px;
}

.status {
    padding: 5px;
    width: 200px;
    border-radius:10px;
    height: 30px;
}

.clearfix {
	clear: both;
}

.handletype {
    background-color: whitesmoke;
    width: 40px;
    height:40px;
    border-radius:10px;
    border:0px none;
    font-size: 14px;
    margin: 10px 10px 10px 0;
}