body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align:center;
    color:#999;
    height:100%;
}

a {
	font-size: 12px;
	font-weight: bold;
    text-decoration: none;
}

input {
    width:350px;
    height:40px;
    border-radius:10px;
    border:0px none;
    background:#eee;
    padding:0px 20px;
    font-size: 14px;
    margin: 20px;
}

*:focus {
    outline: none;
}

.header {
    background-color: #eee;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: black;
    padding: 5px;
}

.footer {
    padding: 5px;
}

.outputbox {
    background-color: #eee;
    height: 220px;
    padding: 20px;
    font-weight: bold;
}

.qrcode {

}

.status {
    padding: 5px;
    width: 200px;
    border-radius:10px;
    height: 30px;
}

.inputbox {
    background-color: #fff;
}

.moneybutton {
    margin: 10px;
}

iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  }